<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
    <h1>Upload your file here</h1>
    <form method="post" enctype="multipart/form-data" id="inputForm">
        <input type="file" name="uploaded_file" id="selectFile"/>
        <button id="btn" type="submit" >Upload</button>
    </form>
    <div id="msg"></div>
    
</body>
<script src="/js/index1.js"></script>
</html>